ount}`,X(92),Y(138),{align:"right"});

doc.line(X(3),Y(143),X(97),Y(143));

// RETURN + THANK YOU
doc.line(X(50),Y(143),X(50),Y(160));

FS(8);
doc.text("RETURN ADDRESS",X(8),Y(149));

FS(5);
doc.text([
"Name : Muhammed Sufiyan",
"Mobile : 8281088967",
"Address : Anapparambil House",
"State : Kerala",
"Pincode : 679536",
"Area : Arakkal HMC Road",
"City : Chalissery"
],X(8),Y(152));

FS(10);
doc.text("THANK YOU",X(63),Y(149));

FS(7);
doc.text("We deliver happiness!",X(63),Y(155));
doc.text("www.vespera.in",X(63),Y(160));

// FOOTER
doc.setFillColor(0);
doc.rect(X(3),Y(161),94*s,4*s,"F");

}

function generateA4PDF(){

if(labels.length === 0){
alert("Add at least one label first");
return;
}

const doc = new jsPDF({
orientation:"portrait",
unit:"mm",
format:"a4"
});

const positions = [
[9,0],
[114,0],
[9,148.5],
[114,148.5]
];

labels.forEach((label,index)=>{

if(index > 0 && index % 4 === 0){
doc.addPage();
}

const pos = positions[index % 4];

drawLabel(doc,pos[0],pos[1],label);

});

doc.save("vespera-a4-labels.pdf");

}

function generatePDF(){

const data = {
customer: document.getElementById("customerName").value  "Customer",
address: document.getElementById("address").value  "-",
pin: document.getElementById("pincode").value  "-",
phone: document.getElementById("phone").value  "-",
product: document.getElementById("product").value  "Product",
amount: document.getElementById("orderValue").value  "0",
serial: document.getElementById("serial").value  "DS1",
payment: document.querySelector('input[name="payment"]:checked')?.value || "COD"
};

const doc = new jsPDF({
orientation:"portrait",
unit:"mm",
format:[100,170]
});

drawLabel(doc,0,0,data);

doc.save(shipping-label-${data.serial}.pdf);

}
